.video {
	padding: 45px 0 55px;

	&__inner {
		display: flex;
		align-items: center;
		gap: 20px;

		@media screen and (max-width:768px) {
			flex-direction: column;
		}
	}
}

iframe {
	@media screen and (max-width:768px) {
		width: 320px;
		height: 250px;
	}
}