html,
body {
	min-height: 100%;
}

body {
	font-family: 'Roboto', sans-serif;
	@include font(400, 15px, 22px, #000)
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	flex: 1 0 auto;
}

.footer {
	flex: 0 0 auto;
}

.container {
	max-width: 1210px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

.none{
	display: none;
}